:root {
    --amarelo: rgb(244, 206, 21);
    --icone: #264DA8;
    --fundo: linear-gradient(180deg, #1B56A8, #6819AC);
    --cinza : #61656B;
    font-family: 'Inter', sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.texto-gradient{
    background-image: var(--fundo);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    background-clip: text;
}

header{
    display: flex;
    height: 70px;
    flex-direction: row;
    gap: 10px;
    flex-shrink: 0;
    align-items: center;
}

header i#voltar {
    color: var(--icone);
    margin: 44px 20px;
    font-size: 32px;
}

header h2{
    font-size: 36px;
    margin: 0 60px;
}

header input[type="text"]{
    display: flex;
    width: 640px;
    height: 38px;
    padding: 7.5px 16px 7.5px 18px;
    align-items: center;
    position: relative;
    z-index: 2;
    background: white;
    border: none;
    border-radius: 5px;
    outline: none;
}

.input-container {
    position: relative;
    display: inline-block;
}

.input-container::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: var(--fundo);
    border-radius: 7px;
    z-index: 1;
}

.input-container i {
    position: absolute;
    left: 96%;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
    font-size: 18px;
    z-index: 3;
}

header h4{
    font-size: 14px;
    margin: 0 10px 0px 5px;
    padding: 19px 0px 16px 5px;
}

.cabecalho{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.select-wrapper {
    background: var(--fundo); /* Borda gradiente */
    padding: 2px; /* Espessura da borda */
    border-radius: 8px;
    display: inline-block;
}

.select-wrapper select {
    border: none;
    padding: 5px;
    border-radius: 6px;
    background: white;
    appearance: revert;
    -webkit-appearance: none;
    width: 157px;
    height: 36px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

/* SEÇÃO DE PRODUTOS */
.produtos {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card img {
    max-width: 100%;
    border-radius: 8px;
}

.card h2 {
    font-size: 18px;
    margin: 10px 0;
}

.card p {
    font-size: 16px;
    color: #333;
}

.card .price {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.card button {
    background: var(--amarelo);
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.card button:hover {
    background: #e6b800;
}

/* TELA PRODUTOS */
#produto-imagem {
    width: 638.706px;
    height: 610px;
    aspect-ratio: 638.71 / 610.00;
    position: absolute;
    left: 61px;
    bottom: 40px;
}

.info-produto {
    display: flex;
    width: 552px;
    height: 483px;
    margin-left: 44px;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    right: 142px;
    top: 145.5px;
}

.info-produto h3 {
    font-size: 34px;
    font-weight: bold;
}

.info-produto span {
    font-size: 14px;
    color: gray;
    margin: 8px 0;
}

.info-produto #produto-sku {
    margin-top: -10px;
    margin-bottom: 44px;
}

.info-produto p{
    font-size: 40px;
}

.info-produto button{
    background: var(--amarelo);
    border-radius: 4px;
    border: none;
    display: flex;
    padding: 13px 129.64px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    font-weight: bold;
}

.info-pedido-produto-wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info-pedido-produto {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.tamanhos-container{
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    display: inline-block;
    font-size: 16px;
}

.btn-tamanho{
    display: inline-block;
    cursor: pointer;
    width: 70px;
    height: 55px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px 16px;
    margin: 4px;
    background-color: #f9f9f9;
    transition: background 0.3s, color 0.3s;
}

.btn-tamanho input[type="radio"]{
    display: none;
}

.btn-tamanho.checked {
    background-color: white;
    color: var(--fundo);
}
/*TELA DE CARRINHO*/

.item-carrinho{
    display: flex;
    width: 926px;
    height: 418px;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    padding: 20px 10px;
    margin: 55px 40px;
}

.item-carrinho img{
    width: 100%;
    height: 586.03px;
}

.item-carrinho-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.item-carrinho-container input{
    width: 77px;
    height: 36px;
    border: 1px solid;
    border-image-source: var(--fundo);
    border-image-slice: 1;
    border-radius: 4px;
}

.info-carrinho{
    position: absolute;
    right: 88px;
    top: 278.5px;
    font-weight: 800;
}

.info-carrinho-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.info-carrinho button{
    width: 95%;
    height: 40px;
    align-content: center;
    background: var(--amarelo);
    margin:15px 5px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

/*TELA DE IDENTIFICACAO APOS CARRINHO*/
.identificacao-container{
    position: absolute;
    left: 64px;
    top: 200px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: center;
}

.identificacao-container-form{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.identificacao-container-form label{
    font-size: 20px;
}

.identificacao-container-form input{
    width: 300px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    text-indent: 10px;
}

.info-pedido{
    position: absolute;
    right: 88px;
    top: 123.5px;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-pedido-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.info-pedido button{
    width: 95%;
    height: 40px;
    align-content: center;
    background: var(--amarelo);
    margin:15px 5px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

.info-pedido-produtos {
    width: 300px;
    display: flex;
}

.info-pedido-produtos img{
    width: 125px;
}

.info-pedido-produtos span{
    font-size: 10px;
    color: gray;
    font-weight: normal;
}

.info-pedido-produtos h6{
    font-size: 14px;
    margin: 8px 0;
    font-weight: bold;
}

.info-pedido-produtos p{
    font-size: 12px;
    margin: 8px 0;
}

/*TELA ENTREGA*/
.entrega-cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.entrega-cabecalho button{
    width: 170px;
    height: 40px;
    align-content: center;
    background: var(--amarelo);
    margin-left:35px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

.enderecos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.endereco-container{
    display: flex;
    width: 534px;
    height: 242px;
    padding: 40px 31px;
    margin: 35px 0px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid var(--fundo, #1B56A8);
    background: #F9F7F7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.endereco-info{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 162px;
    align-items: flex-start;
    gap: 10px;
}

.endereco-info span{
    font-size: 24px;

}

.tipo-entrega{
    position: absolute;
    right: 470px;
    top: 223.5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 19px;
}

.agencia{
    width: 405px;
    height: 90px;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--cinza);
}

.agencia span{
    font-size: 18px;
    font-weight: bold;
    color: var(--cinza);
}

.selecionado {
    border: 2px solid #00f;
    background-color: #e0f0ff;
}


/*TELA DE PAGAMENTO*/

.cupom{
    display: flex;
    width: 80%;
    height: auto;
    margin-bottom: 25px;
}

.cupom-radio{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cupom-radio-container{
    width: 245px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 15px;
    border: 2px solid #7a52c1;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    color: #7a52c1;
    transition: 0.3s;
}

.cupom-radio-container input{
    display: none;
}

.circulo {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--fundo);
}

.cupom-radio-container:hover {
    background-color: #f3f3f3;
}

/* Quando estiver selecionado */
.cupom-radio-container input:checked + .circle {
    background: var(--fundo);
}

.cupom-radio-container input:disabled {
    border-color: #ccc;
    color: #888;
    cursor: not-allowed;
}

.cupom-radio-container input:disabled .circle {
    background: gray;
}

.cupom-input input{
    width: 200px;
    height: 44px;
    border: 2px solid transparent;
    border-image-source: var(--fundo);
    border-image-slice: 1;
    border-radius: 4px;
    padding: 5px;
    color: #333;
}


.cupom-input button{
    width: 170px;
    height: 40px;
    align-content: center;
    background: var(--amarelo);
    margin-left:35px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

/*TELA CONCLUSAO DE PEDIDO*/
.conclusao-pedido{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.conclusao-pedido button{
    width: 170px;
    height: 40px;
    align-content: center;
    background: var(--amarelo);
    border: none;
    border-radius: 10px;
    font-weight: bold;
}